
QProgressBar {
    border: solid lightgrey;
    border-radius: 20px;
    color: whitesmoke;
}

QProgressBar::chunk {
    background-color: #7037db;
    border-radius: 15px;
    }

/* QLabel#labelTitle {
    font-family: 'Segoe UI';
    font-size: 25;
    font-weight: bold;
    background-color: solid rgb(223, 29, 230)
} */

/* self.labelTitle.setFont(QFont('Segoe UI', 25, QFont.Bold)) */